<div class="form-group">
    <label for="<%= name %>"><%= label || name %></label>
    <input 
        type="<%= type %>" 
        id="<%= name %>" 
        name="<%= name %>" 
        class="form-control" 
        required>
</div>
